body{
    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background: rgb(240, 240, 240);

}

.cal-body{

    position: relative;
    z-index: 0;

    border-radius: 8px;

    background: rgb(42, 42, 49);
    
}

.cal-screen{

    padding: 40px 10px;
    position: relative;
    z-index: 1;

    border-radius: 8px;

    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

}

#result{

    display: flex;
    justify-content: end;

    padding: 5px 0px;
    margin: 0px;
    height: 1em;

    font-size: 40px;
    font-family: "JetBrains mono";

}

.cal-controls{

    padding: 18px 10px;

}


.control{
    
    padding: 10px 20px;
    margin: 3px;

    font-size: 20px;
    font-family: "JetBrains Mono";
    font-weight: 700;
    border-width: 0px;
    border-radius: 4px;
    cursor: pointer;

}

.operation{

    background: rgb(255, 161, 68);
    color: rgb(255, 255, 255);

}

#equal{

    background: rgb(0, 137, 0);
    color: rgb(255, 255, 255);

}

#clear{

    background: rgb(255, 0, 0);

}